<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <title>Classifica</title>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="border-end"></th>
                            <th class="border-end text-center" colspan="3">giornate</th>
                            <th class="border-end text-center" colspan="3">partite</th>
                            <th class="border-end text-center" colspan="3">sets</th>
                            <th class="border-end text-center" colspan="3">games</th>
                        </tr>
                        <tr>
                            <th class="border-end">Squadra</th>
                            <th class="text-end">vinte</th>
                            <th class="text-end">perse</th>
                            <th class="text-end border-end">delta</th>
                            <th class="text-end">vinte</th>
                            <th class="text-end">perse</th>
                            <th class="text-end border-end">delta</th>
                            <th class="text-end">vinti</th>
                            <th class="text-end">persi</th>
                            <th class="text-end border-end">delta</th>
                            <th class="text-end">vinti</th>
                            <th class="text-end">persi</th>
                            <th class="text-end border-end">delta</th>
                        </tr>
                    </thead>
                    <tr v-for="team in teams">
                        <th class="border-end">{{ team.name }}</th>
                        <td class="text-end">{{ team.round_vinti }}</td>
                        <td class="text-end">{{ team.round_persi }}</td>
                        <td class="text-end border-end">{{ team.round_vinti - team.round_persi }}</td>
                        <td class="text-end">{{ team.match_vinti }}</td>
                        <td class="text-end">{{ team.match_persi }}</td>
                        <td class="text-end border-end">{{ team.match_vinti - team.match_persi }}</td>
                        <td class="text-end">{{ team.set_vinti }}</td>
                        <td class="text-end">{{ team.set_persi }}</td>
                        <td class="text-end border-end">{{ team.set_vinti - team.set_persi }}</td>
                        <td class="text-end">{{ team.game_vinti }}</td>
                        <td class="text-end">{{ team.game_persi }}</td>
                        <td class="text-end border-end">{{ team.game_vinti - team.game_persi }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="accordion" class="accordion">
                    <div class="accordion-item" v-for="giornata in giornate">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                v-bind:data-bs-target="'#d_'+ giornata.id">
                                Giornata {{ giornata.id }}
                            </button>
                        </div>

                        <div class="accordion-collapse collapse" v-bind:id="'d_'+ giornata.id"
                            data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Squadra</th>
                                            <th>Squadra</th>
                                            <th>Risultato</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tr v-for="i in giornata.round">
                                        <td class="pt-5">{{ getTeam(i.teams[0]).name }}</td>
                                        <td class="pt-5">{{ getTeam(i.teams[1]).name }}</td>
                                        <td class="pt-5">
                                            <span v-bind:class="{ 'fw-bold': i.result[0] > i.result[1] }">{{ i.result[0]
                                                }}</span>
                                            -
                                            <span v-bind:class="{ 'fw-bold': i.result[0] < i.result[1] }">{{ i.result[1]
                                                }}</span>
                                        </td>
                                        <td>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Livello</th>
                                                        <th>Squadra</th>
                                                        <th>Squadra</th>
                                                        <th>Sets</th>
                                                        <th>Games</th>
                                                    </tr>
                                                </thead>
                                                <tr v-for="m in i.matches">
                                                    <td>{{ m.livello }}</td>
                                                    <td>
                                                        <div>{{ m.teams[0].players[0] ? getPlayer(m.teams[0].id, m.teams[0].players[0]).lastname :
                                                            getTeam(m.teams[0].id).name }}</div>
                                                        <div>{{ m.teams[0].players[1] ? getPlayer(m.teams[0].id, m.teams[0].players[1]).lastname :
                                                            getTeam(m.teams[0].id).name }}</div>
                                                    </td>
                                                    <td>
                                                        <div>{{ m.teams[1].players[0] ? getPlayer(m.teams[1].id, m.teams[1].players[0]).lastname :
                                                            getTeam(m.teams[1].id).name }}</div>
                                                        <div>{{ m.teams[1].players[1] ? getPlayer(m.teams[1].id, m.teams[1].players[1]).lastname :
                                                            getTeam(m.teams[1].id).name }}</div>
                                                    </td>
                                                    <td>
                                                        <div v-bind:class="{ 'fw-bold': m.result[0] > m.result[1] }">
                                                            {{ m.result[0] }}
                                                        </div>
                                                        <div v-bind:class="{ 'fw-bold': m.result[0] < m.result[1] }">
                                                            {{ m.result[1] }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <span
                                                                v-bind:class="{ 'fw-bold': m.sets[0][0] > m.sets[0][1] }">{{
                                                                m.sets[0][0] }}
                                                                <span v-if="m.sets[0][3]">({{
                                                                    m.sets[0][3][0] }})</span>
                                                            </span>
                                                            <span
                                                                v-bind:class="{ 'fw-bold': m.sets[1][0] > m.sets[1][1] }">{{
                                                                m.sets[1][0] }}
                                                                <span v-if="m.sets[1][3]">({{
                                                                    m.sets[1][3][0] }})</span>
                                                            </span>
                                                            <span
                                                                v-bind:class="{ 'fw-bold': m.sets[2][0] > m.sets[2][1] }"
                                                                v-if="m.sets[2]">{{ m.sets[2].length > 0 ? m.sets[2][0] > m.sets[2][1] ? '7' : '6' : '' }} 
                                                                <small class="align-top"><small><small><em>{{ m.sets[2][0] }}</em></small></small></small></span>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span
                                                                v-bind:class="{ 'fw-bold': m.sets[0][0] < m.sets[0][1] }">{{
                                                                m.sets[0][1] }}
                                                            <span v-if="m.sets[0][3]">({{
                                                                m.sets[0][3][1] }})</span>
                                                            </span>
                                                            <span
                                                                v-bind:class="{ 'fw-bold': m.sets[1][0] < m.sets[1][1] }">{{
                                                                m.sets[1][1] }}
                                                                <span v-if="m.sets[1][3]">({{
                                                                    m.sets[1][3][1] }})</span>                                                            
                                                            </span>
                                                            <span
                                                                v-bind:class="{ 'fw-bold': m.sets[2][0] < m.sets[2][1] }"
                                                                v-if="m.sets[2]">{{ m.sets[2].length > 0 ? m.sets[2][0] < m.sets[2][1] ? '7' : '6' : '' }} 
                                                                <small class="align-top"><small><small><em>{{ m.sets[2][1] }}</em></small></small></small></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="scripts/teams.js"></script>
<script src="scripts/calendar_day_1.js"></script>
<script src="scripts/calendar_day_2.js"></script>
<script src="scripts/calendar_day_3.js"></script>
<script src="scripts/calendar_day_4.js"></script>
<script src="scripts/calendar_day_5.js"></script>
<script src="scripts/calendar_day_6.js"></script>
<script src="scripts/teams.js"></script>
<script src="scripts/setup.js"></script>
<script>
const labels = ["1", "2", "3", "4", "5", "6"];

var datasets = [];
teams.forEach((tt) => {
  var pos = [];
console.log(chart);
  chart.forEach((d, idx) => {
    pos[idx] =
      d.findIndex((t) => {
        return t.id == tt.id;
      }) + 1;
  });
  datasets.push({
    label: tt.name,
    backgroundColor: tt.backgroundColor ?? "rgb(255, 99, 132)",
    borderColor: tt.borderColor ?? "rgb(255, 99, 132)",
    data: pos,
  });
});

const data = {
  labels: labels,
  datasets: datasets,
};

const config = {
  type: "line",
  data: data,
  options: {      
    scales: {
      y: {
        reverse: true,
        max: 4,
        min: 0,
            ticks: {
                stepSize: 1
            }        
      },
    },
  },
};    
    var myChart = new Chart(document.getElementById("myChart"), config);

</script>


</html>